html,
body,
#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

html,
body,
#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* background: LightSkyBlue; */
}

.label > div {
  font-family: Helvetica, Arial;
  position: absolute;
  background: #00000088;
  color: white;
  padding: 15px;
  border-radius: 30px;
  user-select: none;
  white-space: nowrap;

  transition: opacity 0.4s ease, transform 0.4s ease;
}

/* Start hidden */
.label > div.hidden {
  opacity: 0;
  transform: scale(0.95);
  pointer-events: none;
}
